version: '3.8'
services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: db_ecomerce
      MYSQL_USER: vazgen
      MYSQL_PASSWORD: 1234
    ports:
      - "3307:3306"
